RewriteEngine On

#Force from http to https
RewriteCond %{HTTPS} off 
RewriteCond %{HTTP_HOST} =www.choicefriday.com
RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R=301]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]
